<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>آیسان تک</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">   
<!--Color Switcher Mockup-->
<link href="css/color-switcher-design.css" rel="stylesheet">
<!--Color Themes-->
<link id="theme-color-file" href="css/color-themes/default-theme.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>
    
        <!-- Main Header-->
    <header class="main-header header-style-four">
        <div class="header-top">
            <div class="auto-container clearfix">
                <div class="top-right">
                    <ul class="contact-info">
                        <li><span>تلفن :</span> (+84) 867-557-243</li>
                        <li><span>ایمیل :</span> <a href="#">Support@yourdomain.com</a></li>
                    </ul>  
                </div>
            </div>
        </div>

        <div class="header-lower">
            <div class="auto-container">
                <div class="main-box clearfix">
                    <div class="logo-box">
                        <div class="logo"><a href="index.html"><img src="images/logo-2.png" alt="" title=""></a></div>
                    </div>

                    <div class="nav-outer">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md ">
                            <div class="navbar-header">
                                <!-- Toggle Button -->      
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon flaticon-menu-button"></span>
                                </button>
                            </div>
                            
                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="#">خانه</a>
                                        
                                    </li>
                                    <li class="current dropdown"><a href="#">درباره ما</a>
                                        
                                    </li>
                                    <li class="dropdown"><a href="#">خدمات</a>
                                        
                                    </li>
                                    <li class="dropdown"><a href="#">محصولات</a>
                                        <ul>
                                            <li><a href="projects.html">تجهیزات مکانیکال</a></li>
                                            <li><a href="project-detail.html">تجهیزات ابزار دقیق</a></li>
                                            <li><a href="project-detail.html">تجهیزات برق و اتوماسیون صنعتی</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">مقالات</a>
                                        <ul>
                                            <li><a href="projects.html">تجهیزات مکانیکال</a></li>
                                            <li><a href="project-detail.html">تجهیزات ابزار دقیق</a></li>
                                            <li><a href="project-detail.html">تجهیزات برق و اتوماسیون صنعتی</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">استخدام</a>
                                        
                                    </li>
                                    <li><a href="contact.html">تماس با ما</a></li>
                                    <li class="dropdown has-mega-menu"><a href="#">سوالات متداول</a></li>
                                    <li><a href="contact.html">قوانین و مقررات</a></li>
                                        <!-- <div class="mega-menu">
                                            <div class="mega-menu-bar row clearfix">
                                                <div class="column col-lg-3 col-md-3 col-sm-12">
                                                    <h3>About</h3>
                                                    <ul>
                                                        <li><a href="about.html">About Us</a></li>
                                                        <li><a href="faq.html">FAQ's</a></li>
                                                        <li><a href="team.html">Our Team</a></li>
                                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                                        <li><a href="login.html">Login</a></li>
                                                    </ul>
                                                </div>
                                                <div class="column col-lg-3 col-md-3 col-sm-12">
                                                    <h3>Services</h3>
                                                    <ul>
                                                        <li><a href="services.html">All Services</a></li>
                                                        <li><a href="service-detail.html">Commercial Design</a></li>
                                                        <li><a href="service-detail.html">Landescape Design</a></li>
                                                        <li><a href="service-detail.html">Complete Interior</a></li>
                                                        <li><a href="service-detail.html">Service Detail</a></li>
                                                    </ul>
                                                </div>
                                                <div class="column col-lg-3 col-md-3 col-sm-12">
                                                    <h3>Projects</h3>
                                                    <ul>
                                                        <li><a href="projects.html">Projects</a></li>
                                                        <li><a href="projects.html">Commercial Projects</a></li>
                                                        <li><a href="projects.html">Landescape Projects</a></li>
                                                        <li><a href="project-detail.html">Project Detail</a></li>
                                                        <li><a href="contact.html">Contact</a></li>
                                                    </ul>
                                                </div>
                                                <div class="column col-lg-3 col-md-3 col-sm-12">
                                                    <h3>Blog</h3>
                                                    <ul>
                                                        <li><a href="blog.html">Blog Grid</a></li>
                                                        <li><a href="blog-classic.html">Blog Classic</a></li>
                                                        <li><a href="blog-detail.html">Blog Detail 01</a></li>
                                                        <li><a href="blog-detail-2.html">Blog Detail 01</a></li>
                                                        <li><a href="error-page.html">Error Page</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div> -->
                                    
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->                        

                        <!-- Outer Box-->
                        <div class="outer-box">
                            <!--Search Box-->
                            <div class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                        <li class="panel-outer">
                                            <div class="form-container">
                                                <form method="post" action="blog.html">
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value="" placeholder="جستجو ..." required>
                                                        <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/10.jpg);">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="title-box">
                    <h1>درباره ما</h1>
                    <span class="title">از اخبار و رویداد های ما باخبر باشید</span>
                </div> 
                
            </div>
        </div>
    </section>
    <ul class="bread-crumb clearfix container headmap">
        <li><a href="index.html">خانه</a></li>
        <li>درباره ما</li>
    </ul>
    <!--End Page Title-->

    <!-- About Section -->
    <section class="about-section" style="background-image: url(images/background/1.jpg);">
        <div class="auto-container">
            <div class="row no-gutters">
                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="title-box wow fadeInLeft" data-wow-delay='1200ms'>
                            <h2>درباره <br> ما</h2>
                        </div>
                        <div class="image-box wow fadeInRight" data-wow-delay='600ms'>
                            <figure class="alphabet-img"><img src="images/resource/alphabet-image.png" alt=""></figure>
                            <figure class="image"><img src="images/resource/image-1.jpg" alt=""></figure>
                        </div>
                    </div>
                </div>

                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft">
                        <div class="content-box">
                            <div class="title">
                                <h2>شرکت تولیدات صنعتی <br>آیسان تک</h2>
                            </div>
                            <div class="text">شرکت مهندسی آیسان تجهیز سروین ITECH با اتکا به کادر مجرب و متخصص بازرگانی مشاوران فنی و بازرسان متبحر دفاتر داخل و خارج از کشور وروابط مناسب با وندور های معتبر داخلی و بین المللی مفتخر است خود را به عنوان ...</div>
                            <div class="link-box"><a href="about.html" class="theme-btn btn-style-one">محصولات آیسان</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About Section -->

    <!-- Fun Fact And Features -->
    <div class="section-full content-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 m-b30">
                    <div class="icon-bx-wraper sr-iconbox">
                        <div class="icon-lg m-b20">
                            <img src="/isantechAssets/images/icon/icon1.png" alt=""/>
                        </div>
                        <div class="icon-content">
                            <h4 class="dlab-tilte">واحد بازرگانی</h4>
                                                            <p>واحد خرید داخلی و خارجی یکی ازکلیدی ترین واحدهای این شرکت  میباشد .هسته ی مرکزی این بخش مستقیما نقش اثر گذاری در عرضه و فروش تجهیزات داشته و پشتیبانی از کلیه فعالیت هایی را که از زمان سفارش گذاری کالا آغاز میشود در برمیگیرد .مواردی چون گشایش اعتبارات پیگیری تولید  حمل از کارخانجات و تامین کنندگان .ورود به گمرکات کشور و ترخیص کالا از وظایف این بخش میباشد </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 m-b30">
                    <div class="icon-bx-wraper sr-iconbox">
                        <div class="icon-lg m-b20">
                            <img src="/isantechAssets/images/icon/icon2.png" alt=""/>
                        </div>
                        <div class="icon-content">
                            <h4 class="dlab-tilte">واحد فروش</h4>
                            <p> مداری و ارایه پیشنهادات مطابق با نیاز کارفرمایان در کوتاه ترین زمان ممکن به ایفای نقش میپردازند. بخش فروش شرکت همواره سعی در برقراری ارتباطی مستحکم با مشتریان خود دارد ما معتقدیم که صداقت اولین رکن هر ارتباط سازنده ای است </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 m-b30">
                    <div class="icon-bx-wraper sr-iconbox">
                        <div class="icon-lg m-b20">
                            <img src="/isantechAssets/images/icon/icon3.png" alt=""/>
                        </div>
                        <div class="icon-content">
                            <h4 class="dlab-tilte">توسعه بازار</h4>
                            <p>گسترش بازار بالقوه در میان کاربران جدید
ارایه کالا و خدمات جدیدی که مطابق با تقاضاهای به روز شده مشتریان باشد
رسیدگی به ارتباطات و تعاملات میان فروشندگان  مشتریان و واحد های توزیع کننده است
ارایه گارانتی و خدمات پس ازفروش
از جمله وظایف واحد توسعه بازار در این شرکت میباشد </p>
                            

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 m-b30">
                    <div class="icon-bx-wraper sr-iconbox">
                        <div class="icon-lg m-b20">
                            <img src="/isantechAssets/images/icon/icon4.png" alt=""/>
                        </div>
                        <div class="icon-content">
                            <h4 class="dlab-tilte" >مشاوره طراحی</h4>
                            <ul style="padding-right: 0">
                                <li>مشاوره و مهندسی خطوط نورد به صورت EPC و TURN KEY</li>
                                <li>ارائه همکاری مناسب جهت افزایش بهره‌وری و کاهش ضایعات و توقفات تولید در ریخته گری شمش های فولادی و آلیاژی </li>
                                <li>مهندسی معکوس کلیه تجهیزات و قطعات</li>
                                <li>طراحی و ساخت انواع استندهای خطوط نورد شامل Red Ring , Housing less , conventional</li>
<!--
                                <li>تهیه و تأمین انواع لوازم یدکی شامل: گایدها، رولیک‌ها، تیغه قیچی و ...</li>
                                <li>طراحی و ساخت انواع قیچی Cold Shear , flying Shear ,Start- Stop</li>
                                <li>طراحی و ساخت انواع cooling bed اتوماتیک</li>
                                <li>طراحی، بهینه سازی و ساخت تجهیزات و لوازم یدکی خطوط نورد مطابق با نیاز کارخانه</li>
-->



                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 m-b30">
                    <div class="icon-bx-wraper sr-iconbox">
                        <div class="icon-lg m-b20">
                            <img src="/isantechAssets/images/icon/icon5.png" alt=""/>
                        </div>
                        <div class="icon-content">
                            <h4 class="dlab-tilte">ساخت</h4>
                            <p>تراشکاری قطعات فلزی یکی از خدمات ارائه شده توسط شرکت ایسان تجهیز سروین  است. این شرکت با همکاری گستره با شرکت های ارابه کننده خدمات تراشکاری قطعات فلزی را با بالاترین کیفیت و در سریع ترین زمان ممکن به مشتریان ارائه می دهد.تراشکاری قطعات فلزی درشرکت های طرف قرارداد با این شرکت  با نهایت دقت و ظرافت و توسط نیروهای متخصص و مجرب انجام می شود </p>
                            

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 m-b30">
                    <div class="icon-bx-wraper sr-iconbox">
                        <div class="icon-lg m-b20">
                            <img src="/isantechAssets/images/icon/icon6.png" alt=""/>
                        </div>
                        <div class="icon-content">

                            <h4 class="dlab-tilte">واحد فنی مهندسی</h4>
                            <p>این بخش شامل دو کارگروه فنی –مهندسی در زمینه ابزار دقیق و مکانیکال میباشد که همگی زیر نظر مدیریت فنی –مهندسی ایفای نقش میکنند </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Fun Fact Section -->

    <!-- Testimonial Section Two-->
    <section class="testimonial-section-two">
        <div class="auto-container">
            <div class="sec-title">
                <span class="float-text">نظرات</span>
                <h2>نظرات مشتریان</h2>
            </div>

            <div class="testimonial-carousel-two owl-carousel owl-theme">
                <!-- Testimonial block two -->
                <div class="testimonial-block-two">
                    <div class="inner-box">
                        <div class="info-box">
                            <div class="thumb"><img src="images/resource/thumb-2.jpg" alt=""></div>
                            <h5 class="name"> پریسا موحدی</h5>
                        </div>
                        <div class="text">آیسان با تراشکاری بسیار حرفه ای ودقیقی که دارد باعث شده از وقتی با این شرکت اشنا شدم فقط با آیسان کار کنم</div>

                    </div>
                </div>

                <!-- Testimonial block two -->
                <div class="testimonial-block-two">
                    <div class="inner-box">
                        <div class="info-box">
                            <div class="thumb"><img src="images/resource/thumb-3.jpg" alt=""></div>
                            <h5 class="name">سمیرا نوری </h5>
                            
                        </div>
                        <div class="text">آیسان بهترین شرکتی است که محصولات خود را باکیفیت بالا و پشتیبانی مناسب عرضه میکند و از اینکه با آیسان کار میکنم بسیار خوشحالم</div>

                    </div>
                </div>

                <!-- Testimonial block two -->
                <div class="testimonial-block-two">
                    <div class="inner-box">
                        <div class="info-box">
                            <div class="thumb"><img src="images/resource/thumb-2.jpg" alt=""></div>
                            <h5 class="name">رها ایمانی</h5>
                        </div>
                        <div class="text">آیسان با تراشکاری بسیار حرفه ای ودقیقی که دارد باعث شده از وقتی با این شرکت اشنا شدم فقط با آیسان کار کنم</div>

                    </div>
                </div>

                <!-- Testimonial block two -->
                <div class="testimonial-block-two">
                    <div class="inner-box">
                        <div class="info-box">
                            <div class="thumb"><img src="images/resource/thumb-3.jpg" alt=""></div>
                            <h5 class="name">زهرا بهرامی</h5>
                        </div>
                        <div class="text">آیسان با تراشکاری بسیار حرفه ای ودقیقی که دارد باعث شده از وقتی با این شرکت اشنا شدم فقط با آیسان کار کنم</div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Testimonial Section Two-->

    <!--Clients Section-->
    <section class="clients-section style-two">
        <div class="auto-container">
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Clients Section-->

     <!-- Process Section -->
    <section class="process-section" style="background-image: url(images/background/8.jpg);">
        <div class="auto-container">
            <div class="sec-title light">
                <span class="float-text">خدمات تیم آیسان</span>
                <h2>از خدمات تیم آیسان تک بهره مند شوید</h2>
            </div>
            <div class="row">
                <!-- Process Block -->
                <div class="process-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="count">01</span>
                        <h4><a href="service-detail.html">مشاوره</a></h4>
                        <div class="text">با ارسال اطلاعات و ثبت در خواست مشاوره برای آیسان مشاوران و کارشناسان ما در کمتر از ۲ ساعت در ساعات اداری با شما تماس گرفته و درخواست شما را پیگیری میکنند</div>
                        <div class="link-box"><a href="service-detail.html">تماس با ما</a></div>
                    </div>
                </div>

                <!-- Process Block -->
                <div class="process-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="count">02</span>
                        <h4><a href="service-detail.html">بازرگانی</a></h4>
                        <div class="text">هسته ی مرکزی این بخش مستقیما نقش اثر گذاری در عرضه و فروش تجهیزات داشته و پشتیبانی از کلیه فعالیت هایی را که از زمان سفارش گذاری کالا آغاز میشود در برمیگیرد</div>
                        <div class="link-box"><a href="service-detail.html">تماس با ما</a></div>
                    </div>
                </div>

                <!-- Process Block -->
                <div class="process-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="count">03</span>
                        <h4><a href="service-detail.html">تولید</a></h4>
                        <div class="text">باتوجه‌‌به زیرساخت‌های موجود برای تأمین اقلام موردنیاز واحدهای صنعتی از طریق واردات، بومی‌سازی و تولید، به‌روزرسانی و نیز تعمیر، گروه «آیسان تک» توانسته است طیف وسیعی از محصولات حوزه‌های مختلف صنعتی از برندهای معتبر با گارانتی اصلی و خدمات پس از فروش را در سبد کالایی خود فراهم کند</div>
                        <div class="link-box"><a href="service-detail.html">مشاهده محصولات</a></div>
                    </div>
                </div>

                <!-- Process Block -->
                <div class="process-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="count">04</span>
                        <h4><a href="service-detail.html">فنی مهندسی</a></h4>
                        <div class="text">این بخش شامل دو کارگروه فنی –مهندسی در زمینه ابزار دقیق و مکانیکال میباشد که همگی زیر نظر مدیریت فنی –مهندسی ایفای نقش میکنند</div>
                        <div class="link-box"><a href="service-detail.html">مشاهده محصولات</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Process Section -->

    <!-- Team Section -->
    
    <!--End Team Section -->

    <!-- Offer Section -->
    
    <!--End Offer Section -->

    <!-- Video Section -->
    <section class="video-section style-two">
        <div class="outer-box">
            <div class="auto-container">
                <div class="row">
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="sec-title">
                                <span class="float-text">تماشا کنید</span>
                                <h2>درباره خدمات آیسان تک</h2>
                            </div>
                            <span class="title">اهداف و استراتژی ها</span>
                            <div class="text">عقد تفاهم نامه ها و موافقت نامه های همکاری با با شرکت های معتبر بین المللی اروپایی ارتقا سطح قابلیت های سازمانی و نیروی انسانی ایجاد نظام ارزیابی میزان رضایت مشتریان تکمیل سبد کالاهای مورد نیاز صنعت مطابق با استاندارهای جهانی افزایش توان رقابتی ازطریق مطالعه نقات قوت و ضعف رقبا تقویت و توسه همکاری با شرکت های معتبر داخلی و خارجی در راستای ارتقا توانمندی های مرتبط جهت حضور در پروژه های مختلف و تامین مواد و تجهیزات مورد نیاز</div> 
                        </div>
                    </div>

                    <!-- Video Column -->
                    <div class="video-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="video-box">
                                 <figure class="image"><img src="images/resource/video-img.jpg" alt="">
                                    <a href="https://www.youtube.com/watch?v=Fvae8nxzVz4" class="link" data-fancybox="gallery" data-caption=""><span class="icon fa fa-play"></span></a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Video Section -->

    <!-- Main Footer -->
    <footer class="main-footer alternate" style="background-image: url(images/background/5.jpg);">
        <div class="auto-container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row">
                    <!--Big Column-->
                    <div class="big-column col-xl-7 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <!--Footer Column-->
                            <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget about-widget">
                                    <div class="footer-logo">
                                        <figure>
                                            <a href="index.html"><img src="images/logo-2.png" alt=""></a>
                                        </figure>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget recent-posts">
                                    <h2 class="widget-title">محصولات اخیر</h2>
                                     <!--Footer Column-->
                                    <div class="widget-content">
                                        <div class="post">
                                            <div class="thumb"><a href="blog-detail.html"><img src="images/resource/post-thumb-1.jpg" alt=""></a></div>
                                            <h4><a href="blog-detail.html">ابزار دقیق</a></h4>
                                            <ul class="info">
                                                
                                                <li>3 نظر</li>
                                            </ul>
                                        </div>

                                        <div class="post">
                                            <div class="thumb"><a href="blog-detail.html"><img src="images/resource/post-thumb-2.jpg" alt=""></a></div>
                                            <h4><a href="blog-detail.html">تجهیزات اتوماسیون و برقی</a></h4>
                                            <ul class="info">
                                                
                                                <li>3 نظر</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>         
                        </div>
                    </div>
                    
                    <!--Big Column-->
                    <div class="big-column col-xl-5 col-lg-12 col-md-12 col-sm-12">
                        <div class="row clearfix">
                            <div class="footer-column col-xl-5 col-lg-6 col-md-6 col-sm-12">
                                 <div class="footer-widget links-widget">
                                    <h2 class="widget-title">راه های تماس</h2>
                                    <div class="widget-content">
                                        <ul class="list">
                                            <li><a href="about.html">تلفن :</a></li>
                                            <li><a href="services.html">ایمیل :</a></li>
                                            <li><a href="projects.html">اینستاگرام:</a></li>
                                            <li><a href="blog-classic.html">آدرس :</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--Footer Column-->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="social-links">
                        <ul class="social-icon-two">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                    
                    <div class="copyright-text">
                        <p>تمامی حقوق مادی و معنوی این وب سایت متعلق به شرکت آیسان تک می باشد.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Main Footer -->

</div>

<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-cog"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
            <span class="palate green-color" data-theme-file="css/color-themes/green-theme.css"></span>
            <span class="palate blue-color" data-theme-file="css/color-themes/blue-theme.css"></span>
            <span class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>
            <span class="palate purple-color" data-theme-file="css/color-themes/purple-theme.css"></span>
            <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
            <span class="palate brown-color" data-theme-file="css/color-themes/brown-theme.css"></span>
            <span class="palate redd-color" data-theme-file="css/color-themes/redd-color.css"></span>
        </div>
    </div>
    <ul class="box-version option-box"> <li>Full width</li> <li class="box">Boxed</li> </ul>
    <ul class="rtl-version option-box"> <li>LTR Version</li> <li class="rtl">RTL Version</li> </ul>
    <div class="palate-foo">
        <span>You will find much more options for colors and styling in admin panel. This color picker is used only for demonstation purposes.</span>
    </div>
    <a href="#" class="purchase-btn">Purchase now $17</a>
</div><!-- End Color Switcher -->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-o-up"></span></div>
<script src="js/jquery.js"></script> 
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/appear.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/script.js"></script>
<!-- Color Setting -->
<script src="js/color-settings.js"></script>
</body>
</html>